html, body {
    margin: 0;
    padding: 0;
    background-color: lightgreen;
}

.my-api {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: 3rem, 1rem, 4rem, 3rem;
    background-color: lightblue;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;

}

.my-api-name {
    grid-column: span 3;
    font-size: 1.3rem;
    padding: .3rem;
    text-align: center;

}

.my-api-description {
    grid-column: 1 / span 3;
    grid-row-start: 3;
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
    overflow-y: auto;
}

.my-api-auth {
    font-size: 1.3rem;
    grid-row-start: 4;
    grid-column: 1 / span 1;
    text-align: center;
}

.my-api-https {
    font-size: 1.3rem;
    grid-row-start: 4;
    grid-column: 3 / span 1;
    text-align: center;
} 